
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<div class="row text-center col-12">
{% if libros is empty %} 


    <!--Panel-->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">¡UPS...! Aún no tenemos nada aquí. </h3>
                <p class="card-text">Te invitamos a crear algo maravilloso. ¡Anímate y sorpréndenos!  </p> 
                   <a class="btn blue-gradient waves-effect waves-light" href="{{ path('dwes_libros_escribirhistoria', {'tipo' : "gratis"}) }}">Escribir historia</a>
                    <a class="btn blue-gradient waves-effect waves-light" href="{{ path('dwes_libros_escribirhistoria', {'tipo' : "anuncio"}) }}">Anunciar mi libro</a>
            </div>
        </div>
    </div>
    <!--/.Panel-->

{% endif %} 
{% for libro in libros %}

{#  <img src="data:image/jpeg;base64,{{libro.fotoPort}}" alt="User Photo" class="z-depth-1 mb-3 mx-auto" id="camb" style="
                max-width: 100px;
                max-height: 100px;"> #}
                               <div class="col-md-4 mb-4 mostrar">
                                <!--Card-->
                                <div class="card">

                                    <!--Card image-->
                                    <div class="view overlay {{libro.colorPortada}}">
                                      {#   <img src="https://books.google.com/books/content/images/frontcover/wDumDAAAQBAJ?fife=w200-h300" style="height:200px ; width:150px;" class=" mx-auto" alt="sample image"> #}
  <div class=" flex-center text-center" style="height:200px ;" alt="sample image">
                                            
                      <h4 class="h1-responsive text-center mt-4 mb-4  " data-wow-delay="0.2s">  @{{libro.username}}</h4>

                                            </div>

                                        <a href="{{ path('dwes_libros_historia', {'idLibro' : libro.idLibro}) }}">
                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <!--/.Card image--> 
 <!--Buttons--> 
                                 <div class="card-share">
                                    <div class="social-reveal">
                                       
                                        <!--Twitter-->
                                        
                                        <a type="button"  data-toggle="tooltip" data-placement="bottom" title="Editar historia"  class="btn-floating btn-tw waves-effect waves-light tool"
                                         href="{{ path('dwes_libros_perfilhistoria', {'idLibro' : libro.idLibro}) }}"> <i class="fas fa-pencil-alt"></i></a>
                                        <!--Google -->
                                        <a  onclick="return confirm('¿Estás seguro de eliminar esta publicación?')" type="button"  href="{{ path('dwes_libros_eliminarLib', {'idLibro' : libro.idLibro}) }}" 
                                         data-toggle="tooltip" data-placement="bottom" title="Eliminar historia" class="btn-floating btn-gplus waves-effect waves-light tool"> <i class="fa fa-remove mt-0"></i></a>
                                    </div>
                                    <a class="btn-floating btn-action share-toggle float-right mdb-color lighten-3 waves-effect waves-light"><i class="fa fa-chevron-right"></i></a>
                                </div>
                                 <!--/. Buttons-->                                    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title"><strong>{{libro.titulo}}</strong></h4>
                                        <hr>
                                        <!--Text-->
                                        <p  class="card-text" style="
                                            width: 250px;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        ">{{libro.descripcion}}
                                        </p>
                                        <p class="text-right mb-0 text-uppercase font-small spacing font-weight-bold">
                                                <a href="{{ path('dwes_libros_historia', {'idLibro' : libro.idLibro}) }}">Leer más
                                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                                </a>
                                            </p>
                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                                </div>
	{% endfor %}
                            </div>


{% if libros | length > 6 %}
   
   <button type="button" id="loadMore" class="btn btn-default btn-lg btn-block blue-gradient">Mostrar más</button>
{% endif %}

{# <div id="showLess" class="text-center">Show less</div>  #}                          

<script>
$(document).ready(function () {
    size_li = $(".mostrar").length;
    x=6;
    $('.mostrar:lt('+x+')').show();
    $('#loadMore').click(function () {
        x= (x+3 <= size_li) ? x+3 : size_li;
        $('.mostrar:lt('+x+')').show();
        // $('#showLess').show();
        if(x == size_li){
            $('#loadMore').hide();
        }
    });
   /* $('#showLess').click(function () {
        x=(x-3<0) ? 6 : x-3;
        $('.mostrar').not(':lt('+x+')').hide();
        $('#loadMore').show();
         $('#showLess').show();
            console.log(x + "Muestra showLess");
         
        if(x == 6 || x <6){
            console.log(x + "Oculta showLess");
            $('#showLess').hide();
        }
    });*/
});
</script>           