{% extends 'DWESLibrosBundle::layout.html.twig' %} {% block portada %}
<!--Intro Section-->
<!--Intro Section-->
<div class="streak streak-photo streak-md  portada " style="background-image: url('{{ asset('bundles/dweslibros/img/Fondos/Fondo3.jpg') }}'); margin-top: 27px;">
    <div class="flex-center  " style="       background-color: rgba(17, 27, 43, 0.7);">
        <div class="container my-5 pt-5">
            <!-- Section heading -->
               
                
                {% if  is_granted('ROLE_ADMIN') %} 
                  <h6 class="white-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                <strong>MODERAR</strong> 
            </h6>
                    <h1 class="text-center white-text pb-4  wow fadeIn" data-wow-delay="0.2s">
              CUENTAS DE USUARIO
            </h1>
                    {% else %}
                 <h6 class="white-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                <strong>AVISOS</strong> 
            </h6>
                 
        
                {% endif  %}
                 
            
          
           

              

        </div>
    </div>
</div> 
{% endblock %}

{% block contenido %} 

{#  <ol class="breadcrumb blue-grey lighten-4">
                        <li class="breadcrumb-item"><a class="black-text" href="#">Home</a><i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item"><a class="black-text" href="#">Library</a><i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item active">Data</li>
                    </ol> #}
  <div class="container mt-4 mb-4">
                    <!--Main listing-->
                    <div >

                        <!--Section: Blog v.3-->
                        <section class="section extra-margins pb-3 text-center text-lg-left">
                           <!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified view gradient-card-header blue-gradient">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Cuentas desactivadas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Dar de alta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Dar de baja</a>
    </li>
</ul>
<!-- Tab panels -->
<div class="tab-content card">
    <!--Panel 1-->
    <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
        <br>
        
          <table id="capitulos2" class="mdl-data-table capitulos" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nick</th>
                            <th>Nombre</th>
                             <th>Apellidos</th>
                             <th>Perfil</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in baneados %}
                        <tr>
                            <td class="tdl">{{item.username}}</td>
                            <td class="tdl">{{item.nombre}}</td>
                            <td class="tdl">{{item.apellidos}}</td>
                            <td class="tdl">    <a target="_blank" href="{{ path('dwes_libros_perfil', {'username':item.username}) }}">
                                Ver perfil
                            </a></td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
    </div>
    <!--/.Panel 1-->
    <!--Panel 2-->
    <div class="tab-pane fade" id="panel2" role="tabpanel">
        <br>
        <form name="formNuevoCapitulo" action="{{ path('dwes_libros_darAlta') }}" method="POST"
                        enctype="multipart/form-data">
                        <div class="md-form">
                            <input type="text" id="titulohistoria" class="form-control valI" name="usuario" value="">
                            <label for="titulohistoria" class="Ltitulohistoria valL">Nombre del usuario</label>

                            <button type="submit" class="btn pink-gradient btn-rounded waves-effect waves-light" id="baja">Activar cuenta</button>
                        

                        </div>
                        </form>
    </div>
    <!--/.Panel 2--> 
    <!--Panel 3-->
    <div class="tab-pane fade" id="panel3" role="tabpanel">
        <br>
    
<form name="formNuevoCapitulo" action="{{ path('dwes_libros_darBaja') }}" method="POST"
        enctype="multipart/form-data">
        <div class="md-form">
            <input type="text" id="titulohistoria" class="form-control valI" name="usuario" value="">
            <label for="titulohistoria" class="Ltitulohistoria valL">Nombre del usuario</label>

            <button type="submit" class="btn pink-gradient btn-rounded waves-effect waves-light" id="baja">Suspender cuenta</button>
        

        </div>
        </form>
 
    </div>
    <!--/.Panel 3-->
</div>             

                        </section>
                        <!--Section: Blog v.3-->

                    </div>
                    <!--Main listing-->

                   

                </div>
                <!--Blog-->

            </div>                
{% endblock %}
