{% extends 'DWESLibrosBundle::layout.html.twig' %}



{% block portada %}
    <!--Intro Section-->
   <div  class="streak streak-photo streak-md  portada " style="background-image: url('{{ asset('bundles/dweslibros/img/Fondos/Fondo2.jpg') }}');margin-top: 27px;">
            <div class="flex-center" style="background-color: rgba(17, 27, 43, 0.7);">
                <div class="container my-4 pt-5">

                    <!-- Section heading -->
                    <h3 class="text-center pt-4  white-text font-weight-bold wow fadeIn mb-4" data-wow-delay="0.2s">
                        <strong>{{tituloLibro}}</strong>
                             
                    </h3>
                    <h6 class="text-center white-text pb-4 font-weight-bold wow fadeIn" data-wow-delay="0.2s"> <span class="mb-5">by @{{autor}}</span>
                    <br>
                    <a href="{{ path('dwes_libros_perfilhistoria', {'idLibro' : app.request.get('idLibro')}) }}"  class="btn peach-gradient btn-lg mt-4">Cerrar e ir al perfil de la Historia</a> 
                     
                    </h6>
                    
                </div>
            </div>
        </div> 
            
 
{% endblock %}


{% block contenido %}
{# 
URL:
{{ app.request.getRequestUri() }} 
{% set path = app.request.pathInfo %}
{{ path|split('/')|last }}
Parámetro:
{{ app.request.get('idLibro') }}
#}


  <form name="formCapitulo" action="{{ path('dwes_libros_capitulo', {'idLibro' : app.request.get('idLibro')}) }}" method="POST"  target="frame"  > 
  <iframe name="frame" style="display: none"></iframe>
<div class="container-fluid pl-0 pr-0" style="background-color: #f4f5f6;" id="container1">

        <!--Grid column-->
        <div class="col-lg-12 col-md-12 mb-12 pl-0 pr-0">
<nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav indigo-text">
            <!-- SideNav slide-out button -->
          
            <!-- Breadcrumb-->
            <div class="">
                {# <p><i class="fa fa-book pr-2" aria-hidden="true"></i>Título de la Historia</p> #}
                
                <button type="submit" class="btn purple-gradient btn-sm" id="gcapitulo" >Guardar</button> <span class="green-text font-weight-bold pr-2 small">Grabado</span>
                <span class="text-dark small pr-2 cl"> {{fecha}}</span><span class="text-dark  font-weight-bold pr-2 cl" id="carac">| 0</span><span class="text-dark  cl">caráceteres </span>
                <span class="text-dark  font-weight-bold pr-2 cl" id="palab">- 0</span><span class="text-dark  pr-2 cl">palabras</span>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
          
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Pantalla blanca"> <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/sun-selec.png') }}" id="blanca" > </img>
                        </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Pantalla sefia" > <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/sunset.png') }}" id="sefia"> </img>
                        </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Pantalla negra" >  <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/moon.png') }}" id="negra"> </img>
                        </i></a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Aumentar letra" > <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/font+.png') }}" id="letraUp"> </img> 
                        </i></a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Desminuir letra" > <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/font-.png') }}" id="letraDown"> </img> 
                        </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="left" title="Para despublicar este capítulo, debes de cambiar su estado de publicación desde el Perfil de Historia"> <i class="mb-2">
                            <span class="orange-text font-weight-bold">Borrador</span> {# success-text #}
                        </i></a>
                </li>
                
               
              {#   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light indigo-text" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Dropdown
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                    </div>
                </li> #}
            </ul>
        </nav>
        </div> 
        <!--Grid column-->

<div class="container card mt-1 pb-1" id="container2">
        <div class="row mt-4 ">
                    <div class="col-md-12">
                

                <div class="md-form" >
                            <input type="text" id="titulohistoria" class="form-control valI" name="tituloCapitulo" value="{{tituloCapitulo}}">
                            <label for="titulohistoria" class="Ltitulohistoria valL cl" id="labelTitC"><span class="font-weight-bold pr-1 idCap">#1</span>Título del capítulo </label>
                        </div>
                </div>

                      
                </div>
                <div class="row mt-3">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form mb-5">
                            <textarea type="text" id="contact-message" class="md-textarea form-control valI" rows="11"  name="contCapitulo" value="{{contCapitulo}}"></textarea>
                            <label for="contact-message" class="Lcontact-message valL cl"  id="labelContC">Escriba su historia aquí...</label>

                        </div>
                    </div>
                </div>



    </div>


    <div>
    
     <form> 
{%endblock %}