{% extends 'DWESLibrosBundle::layout.html.twig' %} {% block portada %}
<div class="streak streak-photo streak-md  portada " style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');">
    <div class="flex-center  " style="       background-color:rgba(98, 84, 111, 0.7)">
        <div class="container my-5 pt-5">

            <!-- Section heading -->
            <h3 class="text-center pt-4 pb-3 white-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                <strong>Crea tu historia</strong>
            </h3>
            <h6 class="text-center white-text pb-4 font-weight-bold wow fadeIn" data-wow-delay="0.2s">Deja volar tu imaginación</h6>


        </div>
    </div>
</div>



{% endblock %} {% block contenido %}
<div class="container mt-4 mb-4">
    <!-- Navegación-->
    <ul class="nav nav-tabs nav-justified view gradient-card-header blue-gradient" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">01.Escribe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">02. Describe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">03. Personaliza</a>
        </li>
    </ul>
    <!--/. Navegación-->
    <div class="tab-content card">
        <!--Panel 1-->
     
        <div class="tab-pane fade active show" id="panel1" role="tabpanel">
            <br>
                  {% if tit is defined %}
                 <h2 id="titHistoria"> {{tit}}</h2>
                {% endif %}
            <form name="formNuevoCapitulo" action="{{ path('dwes_libros_escribirhistoria') }}" target="frame" method="POST"  > 
                    <!-- target="frame" -->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                    {% if tituloLibro is defined %}
  <h2 id="titHistoria"> {{tituloLibro}}</h2>
                        <div class="md-form ocultaTitulo" style="display:none">
                            <input type="text" id="titulohistoria" class="form-control" name="titulohistoria" value="{{tituloLibro}}">
                            <label for="titulohistoria" class="">Título de la historia</label>
                        </div>
{% else %}
    <div class="md-form" >
                            <input type="text" id="titulohistoria" class="form-control" name="titulohistoria" value="{{titulohistoria}}">
                            <label for="titulohistoria" class="">Título de la historia</label>
                        </div>
                    </div>
{% endif %}
                      
                </div>
                <!--Grid row-->
                <div id="cln">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                           
                                <input type="text" id="titulocapitulo" class="form-control" name="titulocapitulo" value="{{titulocapitulo}}">
                                <label for="titulocapitulo" class="">Título del capítulo</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea type="text" id="contCapitulo" class="md-textarea form-control" rows="6" name="contCapitulo" value="{{contCapitulo}}"></textarea>
                                <label for="contCapitulo">Contenido del capítulo</label>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </div>
                <div id="ins"></div>
                <div class="text-center text-md-left mt-4">
                   <input class="btn pink-gradient btn-rounded waves-effect waves-light" id="paso1" type="submit" value="Añadir capítulo" onclick="toastr.success('Capítulo añadido con éxito.', '', {positionClass: 'toast-bottom-right'});"></input>
                </div>
                <iframe name="frame" style="display: none"></iframe> 
            </form>
        </div>
        <!--/.Panel 1-->

        <!--Panel 2-->
        <div class="tab-pane fade " id="panel2" role="tabpanel">
            <br>
            <form name="formBusqueda" action="{{ path('dwes_libros_contacto') }}" method="POST">


                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form mb-5">
                            <textarea type="text" id="contact-message" class="md-textarea form-control" rows="6"></textarea>
                            <label for="contact-message">Resume tu historia:</label>

                        </div>
                        <h5 class="pb-5">Selecciona un género</h5>




                        <div class="row">

                            <!--Grid column-->
                            <div class="col-sm-3 mb-2 ">
                                <input class="form-check-input" name="genero" type="radio" id="radio1">
                                <label class="form-check-label" for="radio1">Aventura</label>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-sm-3  mb-2">
                                <input class="form-check-input" name="genero" type="radio" id="radio3">
                                <label class="form-check-label" for="radio3">Acción</label>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-sm-3  mb-2">
                                <input class="form-check-input" name="genero" type="radio" id="radio4">
                                <label class="form-check-label" for="radio4">Terror</label>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-sm-3  mb-2">
                                <input class="form-check-input" name="genero" type="radio" id="radio5">
                                <label class="form-check-label" for="radio5">Fantasía</label>
                            </div>
                            <!--Grid column-->
                        </div>
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-sm-3 mb-2 ">
                                <input class="form-check-input" name="genero" type="radio" id="radio6">
                                <label class="form-check-label" for="radio6">Misterio</label>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-sm-3  mb-2">
                                <input class="form-check-input" name="genero" type="radio" id="radio7">
                                <label class="form-check-label" for="radio7">Poesía</label>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-sm-3  mb-2">
                                <input class="form-check-input" name="genero" type="radio" id="radio8">
                                <label class="form-check-label" for="radio8">Romance</label>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-sm-3  mb-2">
                                <input class="form-check-input" name="genero" type="radio" id="radio9">
                                <label class="form-check-label" for="radio9">Drama</label>
                            </div>
                            <!--Grid column-->
                        </div>
                    </div>
                </div>

                <!--Grid row-->
                <div class="text-center text-md-left mt-4">
                    <a class="btn pink-gradient btn-rounded waves-effect waves-light" id="paso2" onclick="toastr.success('Capítulo añadido con éxito.', '', {positionClass: 'toast-bottom-right'});">Guardar</a>
                </div>

            </form>
        </div>
        <!--/.Panel 2-->

        <!--Panel 3-->
        <div class="tab-pane fade" id="panel3" role="tabpanel">
            <br>
            <form name="formBusqueda" action="{{ path('dwes_libros_contacto') }}" method="POST">
                <div class="row flex-center">
                    <div class="col-lg-4 col-md-12 mb-4" style="max-width: 200px;">

                        <div class="view text-center " style="    max-width: 200px;
                    min-height: 300px;">
                            <img src="" class="img-fluid" alt="">
                            <div class="mask flex-center rgba-blue-grey-strong">
                                <p class="white-text">Título de la historia</p>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="card-body text-center">
                        <p class="text-muted"><small>Añade una foto de portada a tu historia</small></p>
                        <div class="row flex-center">
                            <label for="file-upload" class="btn btn-info btn-rounded btn-sm waves-effect waves-light"> Subir Foto</label><br><input name="fotoSubida" value="" id="file-upload" type="file"/>
                            <button class="btn btn-danger btn-rounded btn-sm waves-effect waves-light">Borrar</button>
                        </div>
                </div>   


                <div class="text-center text-md-left mt-4">
                    <a class="btn pink-gradient btn-rounded waves-effect waves-light" id="paso3">Publicar</a>
                </div>

            </form>
        </div>
        <!--/.Panel 3-->
    </div>
    {% endblock %}