{% extends 'DWESLibrosBundle::layout.html.twig' %} {% block portada %} {% for item in libro %}
<!-- Modal Video-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Book Trailer : {{item.titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="videof" width="100%" height="350" src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cldose" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Modal Video -->

<!-- Modal Capítulos-->
<div class="modal fade" id="ModalCapitulos" tabindex="-1" role="dialog" aria-labelledby="ModalCapitulosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalCapitulosLabel">Capítulos de : {{item.titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <table id="capitulos2" class="mdl-data-table capitulos" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Titulo</th>
                            <th>Contenido</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in capitulos %}
                        <tr>
                            <td class="tdl">{{item.numCapitulo}}</td>
                            <td class="tdl">{{item.tituloCap}}</td>
                            <td class="lineas mb-3 tdl">{{item.contenidoCap}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cldose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /.Modal Capítulos -->

<!--Intro Section-->
<div class="streak streak-photo streak-md  portada " style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); margin-top: 27px;">
    <div class="flex-center  " style="       background-color: rgba(17, 27, 43, 0.7);">
        <div class="container my-5 pt-5">

            {#
            <!-- Section heading -->
            <h3 class="text-center pt-4 pb-3 white-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                <strong>Biblioteca</strong>
            </h3>
            <h6 class="text-center white-text pb-4 font-weight-bold wow fadeIn" data-wow-delay="0.2s">Mis libros publicados</h6> #}
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-3 col-md-12 mb-4">

                    <!-- Section: Categories -->
                    <section class="section">



                        <!--Card image TODO: Imagen libro view overlay  -->
                        <div class="  view overlay">
                            {% if foto %}
                            <img src="data:image/jpeg;base64,{{foto}}" style="height:270px ; width:180px;" class=" mx-auto" alt="sample image"> {% else %}
                            <div class="  {{item.colorPortada}} " style="height:270px;width:180px;">
                                <div class=" flex-center text-center" alt="sample image">
                                    <p>{{item.titulo}}</p>
                                </div>
                                <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <!--/.Card image-->
                    </section>
                    <!-- Section: Categories -->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-8 col-md-12 pb-lg-5 mb-4">
                    <div class="mask rgba-white-light">
                        <div class="dark-grey-text  pt-4 ml-3 pl-3">
                            <div>
                                <a>
                                    <span class="badge badge-danger">{{item.nombre}}</span>
                                </a>
                                <h2 class="card-title font-weight-bold pt-2  " style="color:  black;">
                                    <strong>{{item.titulo}}</strong>
                                </h2>
                                <p style="min-height: 120px;color:  black;">{{item.descLib}} </p>
                                <!-- Button  modal -->
                                <button type="button" class="btn btn-danger btn-sm btn-rounded clearfix  d-md-inline-block waves-effect waves-light video videoff"
                                    data-video="https://www.youtube.com/embed/8uYspagia_s?rel=0&showinfo=0" data-toggle="modal"
                                    data-target="#exampleModal">
                                    <i class="fab fa-youtube mr-1"></i> Book Trailer
                                </button>

                            </div>

                        </div>
                    </div>
                </div>
                <!--Grid column-->

            </div>
        </div>
    </div>
</div>


{% endfor %} {% endblock %} {% block contenido %} {#
<div class="small col-lg-2 ">
    <select class="mdb-select colorful-select dropdown-primary" multiple style="position:relative; width: 50px !important;;">
        <option value="" disabled selected>Añadir libro a </option>
        <option value="1">Biblioteca</option>
        <option value="2">Favoritos</option>

    </select>
    <button type="submit" class="btn-save btn btn-primary btn-sm">Save</button>
</div> #}

<div class="container-fluid pl-0 pr-0" style="background-color: #f4f5f6;" id="container1">

    <!--Grid column-->
    <div class="col-lg-12 col-md-12 mb-12 pl-0 pr-0">
        <nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav indigo-text">
            <!-- SideNav slide-out button -->

            <!-- Breadcrumb-->
            <div class="">
                {#
                <p>
                    <i class="fa fa-book pr-2" aria-hidden="true"></i>Título de la Historia</p> #}
                <div>
                    <a id="addBiblio" href="{{ path('dwes_libros_addbiblioteca', {'idLibro' : app.request.get('idLibro')}) }}"></a>


                    <a id="delBiblio" href="{{ path('dwes_libros_ajustes' ) }}"></a>
                </div>
                <button type="button" class="btn purple-gradient btn-sm gcapitulo " data-toggle="modal" data-target="#ModalCapitulos">
                    <i class="fab fa-readme mr-2"></i>
                    <span>{{numCap}}</span> Capítulos
                </button>
                {#
                <button id="cmd">Generar</button> #}

                <span class="green-text font-weight-bold pr-2 small">En progreso</span>
                {#
                <form name="formUpdatePerfil" action="{{ path('dwes_libros_addbiblioteca'),{'idLibro':app.request.get('idLibro')} }}" method="POST"
                    enctype="multipart/form-data"> #} {% if tipoLibro == "Gratis" %}
                    <span class="text-dark  pr-2 cl" id="enbiblioteca">
                        {% if lista %}
                        <i class='far fa-bookmark mr-1 font-weight-bold select favIco'></i>
                        <a href="{{ path('dwes_libros_delbiblioteca', {'idLibro' : app.request.get('idLibro')}) }}" class="text-dark cl ">Eliminar de mi lista</a>
                        {% else %}
                        <i class="fas fa-plus mr-1 font-weight-bold deselect bibIco "></i>
                        <a href="{{ path('dwes_libros_addbiblioteca', {'idLibro' : app.request.get('idLibro')}) }}" class="text-dark cl "> Añadir a mi lista</a>

                        {% endif %}
                    </span>

                    <span class="text-dark   pr-2 cl" id="enfavoritos">
                        {% if favorito %}
                        <i class='far fa-bookmark mr-1 font-weight-bold select favIco'></i>
                        <a href="{{ path('dwes_libros_delfavoritos', {'idLibro' : app.request.get('idLibro')}) }}" class="text-dark cl "> Eliminar de favoritos</a>
                        {% else %}
                        <i class="fas fa-plus mr-1 font-weight-bold deselect bibIco "></i>
                        <a href="{{ path('dwes_libros_addfavoritos', {'idLibro' : app.request.get('idLibro')}) }}" class="text-dark cl "> Añadir a favoritos</a>

                        {% endif %}
                    </span>
                    {% endif %} {% if tipoLibro == "Anuncio" %}
                    <span class="text-dark   pr-2 cl">
                        {% if deseo %}
                        <i class='far fa-bookmark mr-1 font-weight-bold select favIco'></i>
                        <a href="{{ path('dwes_libros_deldeseos', {'idLibro' : app.request.get('idLibro')}) }}" class="text-dark cl "> En lista de deseos</a>
                        {% else %}


                        <i class="fas fa-plus mr-1 font-weight-bold deselect bibIco "></i>
                        <a href="{{ path('dwes_libros_adddeseos', {'idLibro' : app.request.get('idLibro')}) }}" class="text-dark cl "> Añadir a lista de deseos</a>
                        {% endif %}
                    </span>
                    {% endif %}
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">

                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Pantalla blanca">
                        <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/sun-selec.png') }}" id="blanca"> </img>
                        </i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Pantalla sefia">
                        <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/sunset.png') }}" id="sefia"> </img>
                        </i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Pantalla negra">
                        <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/moon.png') }}" id="negra"> </img>
                        </i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Aumentar letra">
                        <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/font+.png') }}" id="letraUp"> </img>
                        </i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Desminuir letra">
                        <i class="mb-2">
                            <img src="{{ asset('bundles/dweslibros/img/icons/font-.png') }}" id="letraDown"> </img>
                        </i>
                    </a>
                </li>
                {#
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light indigo-text" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                        Dropdown
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                    </div>
                </li> #}
            </ul>
        </nav>
    </div>
    <!--Grid column-->

    <div class="container card mt-1 mb-5 px-0 py-0" id="container2">

        <div class="card-body">
            <!--  <a href="javascript:pruebaDivAPdf()" class="button">Pasar a PDF</a> -->
            <div id="imprimir">
                {% for item in capitulos%}

                <!--   
                <h4 class="card-title">
                    <span class="text-info font-weight-bold pr-2 small">#{{item.numCapitulo}}</span>
                    <strong>{{item.tituloCap}}</strong>
                </h4>
                <hr>
               
                <p class="card-text" style="    ">{{item.contenidoCap}}
                </p> -->
                <div id="accordion" class="mt-1">
                    <div class="card">
                        <div class="card-header" id="heading{{item.numCapitulo}}">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{item.numCapitulo}}" aria-expanded="false"
                                    aria-controls="collapse{{item.numCapitulo}}">
                                    #{{item.numCapitulo}} {{item.tituloCap}}
                                </button>
                            </h5>
                        </div>

                        <div id="collapse{{item.numCapitulo}}" class="collapse" aria-labelledby="heading{{item.numCapitulo}}" data-parent="#accordion">
                            <div class="card-body bigtext">
                                {{item.contenidoCap}}
                               {# {{html}} #}
                                <pre>  </pre>
                               <div></div>
                               <!-- Comentarios capitulo -->
                               <!--Main wrapper-->
    <div class="comments-list text-center text-md-left mb-5">
            <!--Section: Leave a reply (Logged In User)-->
            <section class="mb-4 mt-4">
           
                   <!--Leave a reply form-->
                   <div class="reply-form">
                     <h3 class="section-heading h3 " data-toggle="collapse" href="#comentarioscp{{item.numCapitulo}} " role="button" aria-expanded="false" aria-controls="collapseExample">
                            Deja un comentario
                     </h3>
                     <!--Third row-->
                     <div>
                     <div class="row" > 
                       <!--Image column-->
                       <div class="col-sm-2 col-12">
                       
                         {% if fUser %}
                                    <img src="data:image/jpeg;base64,{{fUser}}" class=" img-fluid avatar rounded-circle z-depth-2"> {% else %}
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (32).jpg" alt="Sample avatar image" class="">
                                   {% endif %}
                       </div>
                       <!--/.Image column-->
               
                       <!--Content column-->
                       <div class="col-sm-10 col-12">
                         <!--Grid row-->
                       <form name="formUpdatePerfil"  action="{{ path('dwes_libros_comentarCapitulo',{'idLibro' : app.request.get('idLibro'),'numCap':item.numCapitulo } )}}"  method="POST" enctype="multipart/form-data" >
                         
                         <div class="row">
               
                           <div class="col-12 mt-1">
                             <div class="form-group basic-textarea rounded-corners shadow-textarea">
               
                               <textarea class="form-control" id="exampleFormControlTextarea6" rows="5" placeholder="Tu comentario..." name="comentarioCap" value={{comentarioCap}}></textarea>
                             </div>
               
                             <div class="text-right">
                               <button  type="submit" class="btn btn-primary btn-sm">Comentar</button>
                             </div>
              
                           </div>
                       </form>
                         </div>
                         <!--Grid row-->
               
                       </div>
               
                     </div>
                     <!--/.Leave a reply form-->
               
                 </section>
                 <!--/Section: Leave a reply (Logged In User)-->
                               
                   <div class="text-center mb-4">
                      
                        <h3>
                           <a  data-toggle="collapse" href="#comentarios{{item.numCapitulo}} " role="button" aria-expanded="false" aria-controls="collapseExample">
                           Comentarios
                           <span class="badge blue">{{cComentCap}}</span>
                           </a>
           
                       </h3>
                   </div>
                   <!--Comment row-->
                   <div id="comentarios{{item.numCapitulo}} " class="collapse">
                   {% for item in comentariosCap %}
                   <div class="row mb-4">
                       <!--Image column-->
                       <div class="col-sm-2 col-12 mb-md-0 mb-3">
                           <img src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" class="avatar rounded-circle z-depth-1-half">
                       </div>
                       <!--/.Image column-->
                       <!--Content column-->
                       <div class="col-sm-10 col-12">
                           <a>
                               <h4 class="font-weight-bold">{{item.nombre}} {{item.apellidos}}</h4>
                           </a>
                           <div class="mt-2">
                               <ul class="list-unstyled">
                                   <li class="comment-date">
                                       <i class="fa fa-clock-o"></i> {{item.fecha}}</li>
                               </ul>
                           </div>
                           <p class="grey-text">{{item.comentario}}</p>
                       </div>
                       <!--/.Content column-->
                   </div>
           
                   {% endfor %}
                   </div>
                   <!--/.Comment row-->
                  
               </div>
               <!--/.Main wrapper-->
                               <!-- /. Comentarios capitulo -->
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

    </div>

    <!-- Autor -->

    <!-- ./ Autor -->

    <script>
        function pruebaDivAPdf() {
            var pdf = new jsPDF('p', 'pt', 'letter');
            source = $('#imprimir')[0];

            specialElementHandlers = {
                '#bypassme': function (element, renderer) {
                    return true
                }
            };
            margins = {
                top: 80,
                bottom: 60,
                left: 40,
                width: 522
            };

            pdf.fromHTML(
                source,
                margins.left, // x coord
                margins.top, { // y coord
                    'width': margins.width,
                    'elementHandlers': specialElementHandlers
                },

                function (dispose) {
                    pdf.save('Prueba.pdf');
                }, margins
            );
        }
    </script>

</div>
<!-- Autor -->
<div class="container card mt-1 mb-5 px-0 py-0">
    <section class="text-center text-md-left">
        <div class="card card-body">

            <div class="row">
                <!--Avatar-->
                <div class="col-12 col-sm-2 mb-md-0 mb-3">
                   

                      {% if fotoAutor %}
                            <img src="data:image/jpeg;base64,{{fotoAutor}}" class=" img-fluid rounded-circle" alt="sample image"> {% else %}
                        <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="img-fluid rounded-circle" alt="sample image">
                        {% endif %}
                </div>
                <!--Author Data-->
                <div class="col-12 col-sm-10">
                {% for item in autor %}
                    <p>
                        <strong>{{item.nombre}} {{item.apellidos}}</strong>
                    </p>
                    <div class="personal-sm">
                        <a href=""class="pr-2 fb-ic">
                            Ver perfil
                        </a>

                    </div>
                    <p class="dark-grey-text article">{{item.biografia}}
                    </p>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- ./Autor -->

</div>
<!-- Te puede gustar -->
<div class="container  mt-1 mb-5 px-0 py-0">
    <section class="text-left mt-4">

        <h5 class="font-weight-bold mt-5">
            <strong>YOU MIGHT ALSO LIKE</strong>
        </h5>
        <hr class="red title-hr">

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1" class=""></li>
                <li data-target="#multi-item-example" data-slide-to="2" class=""></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <!--Grid row-->
                    <div class="row mb-4">

                        <!--Grid column-->
                        <div class="col-lg-4 my-3">
                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="http://mdbootstrap.com/img/Photos/Others/img (43).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Card title</strong>
                                    </h4>
                                    <hr>

                                    <p></p>
                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="fa fa-clock-o"></i> 27/08/2017</p>
                                    <p class="font-small grey-text mb-0">Anna Smith</p>
                                    <p class="text-right mb-0 font-small font-weight-bold">
                                        <a>read more
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 text-left mt-3">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="http://mdbootstrap.com/img/Photos/Others/img (39).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Card title</strong>
                                    </h4>
                                    <hr>

                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="fa fa-clock-o"></i> 27/08/2017</p>
                                    <p class="font-small grey-text mb-0">Anna Smith</p>
                                    <p class="text-right mb-0 font-small font-weight-bold">
                                        <a>read more
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 text-left mt-3">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="http://mdbootstrap.com/img/Photos/Others/img (46).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Card title</strong>
                                    </h4>
                                    <hr>

                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="fa fa-clock-o"></i> 27/08/2017</p>
                                    <p class="font-small grey-text mb-0">Anna Smith</p>
                                    <p class="text-right mb-0 font-small font-weight-bold">
                                        <a>read more
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--/Grid row-->

                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">

                    <!--Grid row-->
                    <div class="row mb-4">

                        <!--Grid column-->
                        <div class="col-lg-4 my-3">
                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="http://mdbootstrap.com/img/Photos/Others/img (40).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Card title</strong>
                                    </h4>
                                    <hr>

                                    <p></p>
                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="fa fa-clock-o"></i> 27/08/2017</p>
                                    <p class="font-small grey-text mb-0">Anna Smith</p>
                                    <p class="text-right mb-0 font-small font-weight-bold">
                                        <a>read more
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 text-left mt-3">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="http://mdbootstrap.com/img/Photos/Others/img (45).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Card title</strong>
                                    </h4>
                                    <hr>

                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="fa fa-clock-o"></i> 27/08/2017</p>
                                    <p class="font-small grey-text mb-0">Anna Smith</p>
                                    <p class="text-right mb-0 font-small font-weight-bold">
                                        <a>read more
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 text-left mt-3">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="http://mdbootstrap.com/img/Photos/Others/img (35).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Card title</strong>
                                    </h4>
                                    <hr>

                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="fa fa-clock-o"></i> 27/08/2017</p>
                                    <p class="font-small grey-text mb-0">Anna Smith</p>
                                    <p class="text-right mb-0 font-small font-weight-bold">
                                        <a>read more
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--/Grid row-->
                </div>
                <!--/.Second slide-->

                <!--Third slide-->
                <div class="carousel-item">

                    <!--Grid row-->
                    <div class="row mb-4">

                        <!--Grid column-->
                        <div class="col-lg-4 my-3">
                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="http://mdbootstrap.com/img/Photos/Others/img (30).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Card title</strong>
                                    </h4>
                                    <hr>

                                    <p></p>
                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="fa fa-clock-o"></i> 27/08/2017</p>
                                    <p class="font-small grey-text mb-0">Anna Smith</p>
                                    <p class="text-right mb-0 font-small font-weight-bold">
                                        <a>read more
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 text-left mt-3">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="http://mdbootstrap.com/img/Photos/Others/img (28).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Card title</strong>
                                    </h4>
                                    <hr>

                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="fa fa-clock-o"></i> 27/08/2017</p>
                                    <p class="font-small grey-text mb-0">Anna Smith</p>
                                    <p class="text-right mb-0 font-small font-weight-bold">
                                        <a>read more
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-4 text-left mt-3">

                            <!--Card-->
                            <div class="card">

                                <!--Card image-->
                                <div class="view overlay">
                                    <img src="http://mdbootstrap.com/img/Photos/Others/img (33).jpg" class="card-img-top" alt="sample image">
                                    <a>
                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">
                                        <strong>Card title</strong>
                                    </h4>
                                    <hr>

                                    <p class="font-small font-weight-bold dark-grey-text mb-1">
                                        <i class="fa fa-clock-o"></i> 27/08/2017</p>
                                    <p class="font-small grey-text mb-0">Anna Smith</p>
                                    <p class="text-right mb-0 font-small font-weight-bold">
                                        <a>read more
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--/Grid row-->
                </div>
                <!--/.Third slide-->

            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->

    </section>


</div>
<!-- ./ Te puede gustar -->

<!-- Comntarios -->
<div class="container  mt-1 mb-5 px-0 py-0">

    <!--Main wrapper-->
    <div class="comments-list text-center text-md-left mb-5">
        
 <!--Section: Leave a reply (Logged In User)-->
 <section class="mb-4 mt-4">

        <!--Leave a reply form-->
        <div class="reply-form">
          <h3 class="section-heading h3 ">Deja un comentario </h3>
          <!--Third row-->
          <div class="row">
            <!--Image column-->
            <div class="col-sm-2 col-12">
            
              {% if fUser %}
                            <img src="data:image/jpeg;base64,{{fUser}}" class=" img-fluid avatar rounded-circle z-depth-2"> {% else %}
                         <img src="https://mdbootstrap.com/img/Photos/Avatars/img (32).jpg" alt="Sample avatar image" class="">
                        {% endif %}
            </div>
            <!--/.Image column-->
    
            <!--Content column-->
            <div class="col-sm-10 col-12">
              <!--Grid row-->
            <form name="formUpdatePerfil"  action="{{ path('dwes_libros_comentarLibro',{'idLibro' : app.request.get('idLibro')} )}}"  method="POST" enctype="multipart/form-data" >
              
              <div class="row">
    
                <div class="col-12 mt-1">
                  <div class="form-group basic-textarea rounded-corners shadow-textarea">
    
                    <textarea class="form-control" id="exampleFormControlTextarea6" rows="5" placeholder="Tu comentario..." name="comentario" value={{comentario}}></textarea>
                  </div>
    
                  <div class="text-right">
                    <button  type="submit" class="btn btn-primary btn-sm">Comentar</button>
                  </div>
   
                </div>
            </form>
              </div>
              <!--Grid row-->
    
            </div>
    
          </div>
          <!--/.Leave a reply form-->
    
      </section>
      <!--/Section: Leave a reply (Logged In User)-->
                    
        <div class="text-center mb-4">
            <h3>
                <a  data-toggle="collapse" href="#comentarios" role="button" aria-expanded="false" aria-controls="collapseExample">
                Comentarios
                <span class="badge blue">{{cComent}}</span>
                </a>

            </h3>
        </div>
        <!--Comment row-->
        <div id="comentarios" class="collapse">
        {% for item in comentarios %}
        <div class="row mb-4">
            <!--Image column-->
            <div class="col-sm-2 col-12 mb-md-0 mb-3">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" class="avatar rounded-circle z-depth-1-half">
            </div>
            <!--/.Image column-->
            <!--Content column-->
            <div class="col-sm-10 col-12">
                <a>
                    <h4 class="font-weight-bold">{{item.nombre}} {{item.apellidos}}</h4>
                </a>
                <div class="mt-2">
                    <ul class="list-unstyled">
                        <li class="comment-date">
                            <i class="fa fa-clock-o"></i> {{item.fecha}}</li>
                    </ul>
                </div>
                <p class="grey-text">{{item.comentario}}</p>
            </div>
            <!--/.Content column-->
        </div>

        {% endfor %}
        </div>
        <!--/.Comment row-->
       
    </div>
    <!--/.Main wrapper-->

</div>
<!-- ./Comentarios -->
</div>


{%endblock %}